<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <display-name>BSUIR Additional API</display-name>
    
    <servlet>
        <servlet-name>freeAudsServlet</servlet-name>
        <servlet-class>men.brakh.bsuirapi.controller.auds.FreeAudsServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>audsServlet</servlet-name>
        <servlet-class>men.brakh.bsuirapi.controller.auds.AudsServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>buildingsServlet</servlet-name>
        <servlet-class>men.brakh.bsuirapi.controller.auds.BuildingsServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>newsServlet</servlet-name>
        <servlet-class>men.brakh.bsuirapi.controller.news.NewsServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>newsListServlet</servlet-name>
        <servlet-class>men.brakh.bsuirapi.controller.news.NewsListServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>srcServlet</servlet-name>
        <servlet-class>men.brakh.bsuirapi.controller.news.SourcesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>authServlet</servlet-name>
        <servlet-class>men.brakh.bsuirapi.controller.AuthServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>currentUserInfoServlet</servlet-name>
        <servlet-class>men.brakh.bsuirapi.controller.iis.CurrentUserInfoServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>userInfoServlet</servlet-name>
        <servlet-class>men.brakh.bsuirapi.controller.iis.UserInfoServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>currentUserSettingsServlet</servlet-name>
        <servlet-class>men.brakh.bsuirapi.controller.iis.CurrentUserSettingsServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>recordBookServlet</servlet-name>
        <servlet-class>men.brakh.bsuirapi.controller.iis.RecordBookServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>diplomaInfoServlet</servlet-name>
        <servlet-class>men.brakh.bsuirapi.controller.iis.DiplomaServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>groupInfoServlet</servlet-name>
        <servlet-class>men.brakh.bsuirapi.controller.iis.GroupInfoServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>


    <servlet-mapping>
        <servlet-name>userInfoServlet</servlet-name>
        <url-pattern>/api/v1/users/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>groupInfoServlet</servlet-name>
        <url-pattern>/api/v1/userAuthorizationRequest/group</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>recordBookServlet</servlet-name>
        <url-pattern>/api/v1/userAuthorizationRequest/record-book</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>diplomaInfoServlet</servlet-name>
        <url-pattern>/api/v1/userAuthorizationRequest/record-book/diploma</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>currentUserSettingsServlet</servlet-name>
        <url-pattern>/api/v1/userAuthorizationRequest/settings</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>currentUserInfoServlet</servlet-name>
        <url-pattern>/api/v1/userAuthorizationRequest</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>authServlet</servlet-name>
        <url-pattern>/api/v1/auth</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>freeAudsServlet</servlet-name>
        <url-pattern>/api/v1/auditoriums/free</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>audsServlet</servlet-name>
        <url-pattern>/api/v1/auditoriums</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>buildingsServlet</servlet-name>
        <url-pattern>/api/v1/buildings</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>newsServlet</servlet-name>
        <url-pattern>/api/v1/news</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>newsListServlet</servlet-name>
        <url-pattern>/api/v1/newsList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>srcServlet</servlet-name>
        <url-pattern>/api/v1/sources</url-pattern>
    </servlet-mapping>


</web-app>